@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

html,
body [class*="css"],
span [class*="st-bj st-cx st-cw st-dn st-do st-af"],
span [class*="st-bf st-ct st-cs st-di st-dj st-af"],
div [class*="st-cv st-cc st-bj st-cw st-cx st-cy"],
table {
    font-family: 'Fira Sans Condensed', sans-serif !important;
}

.css-nahz7x tr {
    border-top: 0px solid rgba(0, 0, 0, 0);
}

.ConservationStatusLabelLarge {
    border-radius: 50px;
    width: 150px;
    height: 33px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConservationStatusLabel {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

div [class*="species_table"] {
  max-height: 350px;
  overflow: scroll;
  margin-bottom: 25px;
  border-bottom: 2px solid #459551; /*#009879;*/
  border-radius: 8px;
/*  box-shadow: inset 0 -10px 10px -10px #ffffff; */
}

.styled-table {
    border-collapse: collapse;
    border: 0px;
    font-size: 0.9em;
    width: 100%;
}

.styled-table thead tr {
    background-color: #459551;
    color: #ffffff;
    text-align: left !important;
    position: sticky;
    top: -1px;
}

.styled-table th,
.styled-table td {
    padding: 6px 9px;
    border: 0px !important;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #242424;
}

/*
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
*/

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

/*
div[class="stDataFrame.css-17b7mgn.ebxhiwi0"] div {
    font-family: 'Fira Sans Condensed';
    font-size: 15px;
    font-weight: 500;
    color: red;
}

div[class="s1jz82f8"] div {
    font-family: 'Fira Sans Condensed';
    font-size: 15px;
    font-weight: 500;
    color: red;
}

div[class="glideDataEditor.wzg2m5k"] div {
    font-family: 'Fira Sans Condensed';
    font-size: 15px;
    font-weight: 500;
    color: red;
}

div.stDataFrame.css-17b7mgn.ebxhiwi0, div.glideDataEditor.wzg2m5k, div.s1jz82f8 {
    font-family: 'Fira Sans Condensed';
    font-size: 18px;
    font-weight: 500;
} */

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}


div.scroll-container {
  background-color: #0f1116;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  filter: saturate(0.7);
  opacity: 0.8;
  transition: 0.3s;
}

div.scroll-container img:hover {
    filter: saturate(1);
    opacity: 1
}

div.section-banner {
    background-color: #2F6538;
    color: #ffffff;
    text-align: center;
    height:30px;
    padding-top: 2px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}

div.animal-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

div.animal-info-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}